body{
    text-align: center;
}
#contacts{
    background: firebrick;
}
#contacts iframe{
    width: 100%
}
.contact1 h3 {
    display: inline;
}
.travel_main {
    border: 1px solid #c7c7c7; padding-left: 0px; padding-right: 0px; float: none;
}
.travel_main img{
    width: 100%;
}
.travel_main hr{
    width: 230px;
    height: 5px;
    background-color: blueviolet;
}
.travel_main h5, .travel_main p{
    margin-left: 20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: darkorange;
}
#avenger_photo{
    height: 200px;
    width: 200px;
}
.book { 
    cursor: pointer; 
}
.book hr { 
    margin-bottom: 10px;
}
.modal-content {
    margin-top: 100px; 
}
.img_modal { display: inline-block; }
.p_modal { margin-top: 10px; }
.modal-body { text-align: center }